In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("Downloads/covid_count_per_zip_all.csv")
df2 = pd.read_csv("Downloads/IndianaCounties.csv")

In [3]:
df

     ZIP_CD PATIENT_COUNT  POPULATION  PERCENTAGE
0     46502    Suppressed  Suppressed  Suppressed
1     46771    Suppressed  Suppressed  Suppressed
2     46922    Suppressed  Suppressed  Suppressed
3     46968    Suppressed  Suppressed  Suppressed
4     46998    Suppressed  Suppressed  Suppressed
..      ...           ...         ...         ...
766   46140          2306       38543    5.982900
767   46142          2051       30413    6.743800
768   46151          1814       30921    5.866500
769   46203          2018       38950    5.181000
770   46219          1862       33930    5.487700

[771 rows x 4 columns]

In [4]:
df2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,S001,S001.1,S002,S002.1,S003,S003.1,S004,...,S182,S182.1,S183,S183.1,S184,S184.1,S185,S185.1,S186,S186.1
0,NaN,NaN,NaN,SEX AND AGE,SEX AND AGE,SEX AND AGE,SEX AND AGE,SEX AND AGE,SEX AND AGE,SEX AND AGE,...,HOUSING TENURE,HOUSING TENURE,HOUSING TENURE,HOUSING TENURE,HOUSING TENURE,HOUSING TENURE,HOUSING TENURE,HOUSING TENURE,HOUSING TENURE,HOUSING TENURE
1,NaN,NaN,NaN,Total population,Total population,Total population,Total population,Total population,Total population,Total population,...,Occupied housing units,Occupied housing units,Occupied housing units,Occupied housing units,Occupied housing units,Occupied housing units,Occupied housing units,Occupied housing units,Occupied housing units,Occupied housing units
2,NaN,NaN,NaN,NaN,NaN,Under 5 years,Under 5 years,5 to 9 years,5 to 9 years,10 to 14 years,...,Owner-occupied housing units,Owner-occupied housing units,Owner-occupied housing units,Owner-occupied housing units,Renter-occupied housing units,Renter-occupied housing units,Renter-occupied housing units,Renter-occupied housing units,Renter-occupied housing units,Renter-occupied housing units
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Population in owner-occupied housing units,Population in owner-occupied housing units,Average household size of owner-occupied units,Average household size of owner-occupied units,NaN,NaN,Population in renter-occupied housing units,Population in renter-occupied housing units,Average household size of renter-occupied units,Average household size of renter-occupied units
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0500000US18175,18175,"Washington County, Indiana",28262,100,1696,6,2027,7.2,2141,...,22282,NaN,2.62,NaN,2358,21.7,5719,NaN,2.43,NaN
96,0500000US18177,18177,"Wayne County, Indiana",68917,100,4371,6.3,4300,6.2,4410,...,45322,NaN,2.45,NaN,9025,32.8,20981,NaN,2.32,NaN
97,0500000US18179,18179,"Wells County, Indiana",27636,100,1810,6.5,1851,6.7,1937,...,22162,NaN,2.61,NaN,2281,21.2,5002,NaN,2.19,NaN
98,0500000US18181,18181,"White County, Indiana",24643,100,1479,6,1672,6.8,1731,...,18603,NaN,2.5,NaN,2310,23.7,5733,NaN,2.48,NaN
99,0500000US18183,18183,"Whitley County, Indiana",33292,100,2084,6.3,2242,6.7,2368,...,27580,NaN,2.58,NaN,2302,17.7,5276,NaN,2.29,NaN